canvas {
	position: absolute;
	top: 0;
	left: 0;
}
p {
	margin: 0 0;
	position: absolute;
	font: 16px Verdana;
	color: #eee;
	height: 25px;
	top: calc( 100vh - 30px );
	text-shadow: 0 0 2px white;
}
p a {
	text-decoration: none;
	color: #aaa;
}
span {
	font-size: 11px;
}
p > a:first-of-type {
	font-size: 20px;
}
body {
	overflow: hidden;
}

.imgg img {
	width: 500px;
	left: 0%;
	position: absolute;
	top: 15%;
  }
 
   @media only screen and (max-width: 500px) {
	.imgg img {
		left: 20% !important;
		width: 500px !important;
	}
  }
  @media only screen and (max-width: 767px) {
	.imgg img {
		left: 0;
		right: 0;
		margin: 0px auto;
		width: 500px;
		top: 60px;
	  }
  }
  @media only screen and (max-width: 1024px) {
	.imgg img {
		left: 23%;
	}
  }
